<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mankura</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="page-wrapper">
    <header>
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <img src="/img/Mankura.svg" alt="Mankura Logo">
                </a>
            </div>

            <nav>
                <a href="/">Home</a>
                <a href="/Catalog">Catalog</a>
            </nav>

            <div class="header-right">
                    <div class="header-clock" id="clock"></div>
                    <form method="get" 
                        asp-controller="Manga" 
                        asp-action="Search" class="search-bar">
                        <input type="text" name="q" placeholder="Search...">
                    </form>

                <div id="auth-zone">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="auth-actions">

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="admin-wrapper" id="adminWrapper">
                                    <a href="/Admin/Panel"
                                       class="admin-btn"
                                       aria-label="Admin panel">
                                        <img src="/icons/admin.svg" alt="Admin">
                                    </a>

                                    <div class="admin-panel" id="adminPanel">
                                        <a href="/Admin/Panel">Dashboard</a>
                                        <a href="/Admin/AddManga">Add manga</a>
                                        <a href="/Admin/Users">Manage users</a>
                                    </div>
                                </div>
                            }

                            <a href="/User/Profile" class="user-avatar">
                                <img src="@(
                                     User.FindFirst("Avatar")?.Value ?? "/img/Avatar.svg"
                        )" alt="Avatar">
                        </a>

                            <button type="button"
                                    class="logout-btn"
                                    id="logoutBtn"
                                    aria-label="Logout">
                                <img src="/icons/leave.svg" alt="Logout">
                                <span class="logout-tooltip">Logout</span>
                            </button>

                        </div>
                                        }

                    else
                    {
                        <a href="/Account/Login" class="icon-btn">
                            <img src="/icons/login_arrow.svg" alt="Log In">
                        </a>
                    }
                </div>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <div class="logout-modal" id="logoutModal">
        <div class="logout-modal-content">
            <h3 style="margin-bottom: 12px;">Log Out</h3>
            <p>Are you sure you want to log out?</p>

            <div class="logout-modal-actions">
                    <form asp-controller="Account"
                          asp-action="Logout"
                          method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="apply">
                            Log Out
                        </button>
                    </form>

                <button type="button" class="reset-btn" id="cancelLogout">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <footer class="site-footer">
    <div class="footer-inner">

        <div class="footer-left">
            <span class="footer-logo">Mankura</span>
            <span class="footer-copy">© @DateTime.Now.Year</span>
        </div>

        <div class="footer-center">
            <span>
                For all inquiries:
                <a href="mailto:lazarevadarina629@gmail.com">
                    lazarevadarina629@gmail.com
                </a>
            </span>
        </div>

        <div class="footer-links">
            <a href="/Catalog">Catalog</a>
            <a href="/User/Profile">Profile</a>
        </div>

    </div>
</footer>
  </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>

    <script src="/js/script.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/clock.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

